.forgot-container {
    min-height: 100vh;
    width: 100vw;
    background-color: #f0f7f0;
    background-size: 100%;
    background-repeat: repeat;
    background-position: center;
}

.forgotHeading{
    font-weight: 500;
}

.forgot-box {
    background-color: rgb(255 255 255 / 80%);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    margin: auto;
    position: fixed;
    top: 25%;
    left: 10%;
    width: 33%;
}

.logo {
    width: 100px;
    margin-bottom: 1rem;
    position: fixed;
    left: 1rem;
    top: 1rem;
}

.mvcFooterImg{
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}

a {
    color: #0070d2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.illustration-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.forgot-illustration-image {
    max-width: 100%;
    max-height: 550px;
    height: auto;
    position: fixed;
    bottom: 3rem;
}

.verify-illustration-image{
    max-width: 100%;
    max-height: 400px;
    height: auto;
    position: fixed;
    bottom: 3rem;
}

.setPass-illustration-image{
    max-width: 100%;
    max-height: 550px;
    height: auto;
    position: fixed;
    bottom: 2rem;
}

@media (max-width: 48rem) {
    
    .illustration-container {
        display: none;
    }

    .forgot-box {
        margin-top: 2rem;
        margin-bottom: 2rem;
        position: fixed;
        top: 20%;
        left: 15%;
        width: 70%;
    }

    .forgot-container{
        background-size: 100%;
        background-position: center;
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width: 30rem) {
    
    .illustration-container {
        display: none;
    }

    .mvcFooterImg{
        width: 54vw;
    }

    .forgot-box {
        width: 80%;
        top: 15%;
        left: 10vw;
    }

    .logo{
        width: 75px;
    }

    .navigationText{
        font-size: smaller;
    }
}


.spinner-container {
    position: relative;
    min-height: 50px;
}